{%extends 'layout.html'%}
{%block title%}Images ● DockerART{%endblock%}


{%block menubar%}

<div class="dropdown-menu xnavbar" aria-labelledby="manageDropdown">
    <a class="dropdown-item" href="/container"><i class="fa-solid fa-cube"></i> Container</a>
    <!-- <a class="dropdown-item" href="#"><i class="fa-solid fa-floppy-disk"></i> Image</a> -->
    <a class="dropdown-item" href="#"><i class="fa-solid fa-hard-drive"></i> Disks</a>
    <a class="dropdown-item" href="/networks"><i class="fa-solid fa-network-wired"></i> Network</a>
</div>

{%endblock%}

{%block content%}



{%endblock%}