<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker ART Server</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="static/home.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <!-- FontAwesome 6.2.0 CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer ">
    <!-- (Optional) Use CSS or JS implementation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
        integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    

</head>

<body style="margin-top: 86px;"> <!-- Add margin-top to account for the fixed navbar height -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><img class="logo" src="logo.png" alt=""><span
                    class="neonlogo">DockerART</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#"><i class="fa fa-dashboard"
                                aria-hidden="true"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/docker"><i class="fa fa-cubes"
                                aria-hidden="true"></i> Manage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html"><i class="fa fa-server"
                                aria-hidden="true"></i> Server</a>
                    </li>
                    <li class="nav-item">
                        <a href="losi.html" class="nav-link" id="user">Login </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Tiles for showing docker related Information -->
    <div class="container tileContainer">
        <div class="text">
            <h1><i class="fab fa-docker"></i>
            Docker Status : </h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="tile">
                        <div class="icon">
                            <i class="fas fa-cube"></i>
                        </div>
                        <div class="text">
                            Containers Running : <span class="running_containers">0</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile">
                        <div class="icon">
                            <i class="fas fa-compact-disc"></i>
                        </div>
                        <div class="text">
                            Images : <span class="current_images">0</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile">
                        <div class="icon">
                            <i class="fa fa-cubes" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            Total Containers : <span class="total_containers">0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Tiles for showing server related Information -->
    <div class="container tileContainer">
        <div class="text">
            <h1><i class="fa-solid fa-server"></i>
            Server Status : </h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="tile">
                        <div class="icon">
                            <i class="fa fa-microchip" aria-hidden="true"></i>
                            CPU : 
                        </div>
                        <div class="text">
                            <meter min="5" max="100" value="70" class="cpu_meter meterS" ></meter>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile">
                        <div class="icon">
                            <i class="fas fa-memory"></i>
                            RAM :
                        </div>
                        <div class="text">
                            <meter min="5" max="100" value="70" class="ram_meter meterS"></meter>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!-- Footer -->
  <footer>
    <p><i class="fa-brands fa-osi"></i> 2024 DockerART</p>
  </footer>
</body>
<!-- ... (previous HTML code) ... -->

<!-- ... (previous HTML code) ... -->

<script>
    function updateDockerInfo() {
        fetch('/api/docker-info')
            .then(response => response.json())
            .then(data => {
                // Update Docker-related information on the webpage
                document.querySelector('.running_containers').innerText = data.running_containers;
                document.querySelector('.current_images').innerText = data.current_images;
                document.querySelector('.total_containers').innerText = data.total_containers;
            });
    }

    function updateServerInfo() {
        fetch('/api/server-info')
            .then(response => response.json())
            .then(data => {
                // Update Server-related information on the webpage
                document.querySelector('.cpu_meter').value = data.cpu_usage;
                document.querySelector('.ram_meter').value = data.ram_usage;
            });
    }

    // Refresh data every second
    setInterval(function () {
        updateDockerInfo();
        updateServerInfo();
    }, 500);
</script>

<!-- ... (remaining HTML code) ... -->


<!-- ... (remaining HTML code) ... -->


</html>
