<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="static/home.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<!-- FontAwesome 6.2.0 CSS -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer ">
<!-- (Optional) Use CSS or JS implementation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
    integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="/static/home.css">

</head>
<body>
    <!-- OLD Navbar -->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><img class="logo" src="logo.png" alt=""><span
                    class="neonlogo">DockerART</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#"><i class="fa fa-dashboard"
                                aria-hidden="true"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/docker"><i class="fa fa-cubes"
                                aria-hidden="true"></i> Manage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html"><i class="fa fa-server"
                                aria-hidden="true"></i> Server</a>
                    </li>
                    <li class="nav-item">
                        <a href="losi.html" class="nav-link" id="user">Login </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->

    <!-- New Navbar -->

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#"><img class="logo" src="logo.png" alt=""><span
                        class="neonlogo">DockerART</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/"><i class="fa fa-dashboard"
                                    aria-hidden="true"></i> Dashboard</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="manageDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cubes" aria-hidden="true"></i> Manage
                            </a>
                            <div class="dropdown-menu xnavbar" aria-labelledby="manageDropdown">
                                <a class="dropdown-item" href="#"><i class="fa-solid fa-cube"></i> Container</a>
                                <a class="dropdown-item" href="#"><i class="fa-solid fa-floppy-disk"></i> Image</a>
                                <a class="dropdown-item" href="#"><i class="fa-solid fa-hard-drive"></i> Disks</a>
                                <a class="dropdown-item" href="#"><i class="fa-solid fa-network-wired"></i> Network</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html"><i class="fa fa-server"
                                    aria-hidden="true"></i> Server</a>
                        </li>
                        {% if 'user_id' in session %}
                        <!-- Show different content when user is logged in -->
                        <li class="nav-item">
                            <a href="/logout" class="nav-link" id="user"><i class="fa-regular fa-user"></i> {{ session['user_id'] }}, Logout</a>
                        </li>
                    {% else %}
                        <!-- Show different content when user is logged out -->
                        <li class="nav-item">
                            <a href="/login" class="nav-link" id="user"><i class="fa-solid fa-user"></i> Login</a>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>



    <main>
        {%block content%}{%endblock%}
    </main>

    <footer>
        <p><i class="fa-brands fa-osi"></i> 2024 DockerART</p>
    </footer>

</body>
</html>